/* .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .item {
    flex: 1 1 30%;
    margin: 10px;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    color: blue;
  } */

/* grid container */
.right-sidebar-grid {
  display: grid;
  grid-template-areas:
    "header"
    "main-content"
    "right-sidebar"
    "footer";
}

/* general column padding */
.right-sidebar-grid > * {
  padding: 1rem;
}

/* assign columns to grid areas */
.right-sidebar-grid > .header {
  grid-area: header;
  background: #f97171;
}
.right-sidebar-grid > .main-content {
  grid-area: main-content;
  background: #fff;
  width: 100%;
}
.right-sidebar-grid > .right-sidebar {
  grid-area: right-sidebar;
  /* background:#f5d55f; */
}
/* .right-sidebar-grid > .footer {
    grid-area:footer;
    background:#72c2f1;
} */

/* tablet breakpoint */
@media (min-width: 768px) {
  .right-sidebar-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "main-content main-content right-sidebar"
      "footer footer footer";
  }
}

@media (max-width: 768px) {
  .product-img {
    margin-left: 0;
    margin-right: auto;
  }
}
